.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child() {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}
.chatbot{
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  height: 700px;
  padding: 20px;
  overflow: scroll;
  align-self: center;
}
.message.to {
  background-color: yellow;
  color: black;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: darkred;
  color: #fff;
  margin-right: 100px;

}
.button {
  background-color:  darkred;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.text{
  height: 50px;
}
.userName{
  color: palevioletred;
  display: block;
}
.userMessage{
  color: black;
  display: block;
}
.message {
  border-radius: 50px;
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}

